<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
<h1>{{header}}</h1>

<p>Type: {{animals.animalType}}</p>
<p>Pet: {{animals.pet}}</p>
<p>Fierceness: {{animals.fierceness}}</p>